<%= render partial: "shared/admin_form_errors", locals: { :entry_errors => @skill_tag_type.errors } %>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#general" data-toggle="tab">General</a></li>
</ul>

<%= form_for(@skill_tag_type, :url => url_for([:admin, @skill_tag_type]), :html => { :class => 'admin' }) do |f| %>
    <div class="row admin-row">
      <div class="col-md-9">
        <div class="tab-content admin-tab-content" >
          <div class="tab-pane active" id="general">
            <div class="field">
              <%= f.label 'Tag type' %>
              <%= f.text_field :tagType %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <%= f.submit :class => 'btn btn-block btn-success btn-lg' %>
        <ul class="list-group">
          <li class="list-group-item">
            <%= f.label 'Sort Order' %>
            <%= f.number_field :sortOrder, :value => @skill_tag_type.sortOrder.blank? ? SkillTagType.count + 1 : @skill_tag_type.sortOrder %>
          </li>
          <li class="list-group-item">
            <%= f.label 'Created' %>
            <%= @skill_tag_type.created_at %>
          </li>
          <li class="list-group-item">
            <%= f.label 'Last Updated' %>
            <%= @skill_tag_type.updated_at %>
          </li>
        </ul>
      </div>
    </div>
<% end %>
