<%= form_for(@skill_tag, :url => url_for([:admin, @skill_tag])) do |f| %>
    <% if @skill_tag.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@skill_tag.errors.count, "error") %> prohibited this skill_tag from being saved:</h2>

          <ul>
            <% @skill_tag.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :tag %>
      <br>
      <%= f.text_field :tag %>
    </div>
    <div class="field">
      <%= f.label 'Skill Tag Type' %>
      <br>
      <%= f.collection_select(:skill_tag_type_id, SkillTagType.all.order(:sortOrder), :id, :tagType, {:prompt => true, :selected => SkillTagType.first}) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
