<%= render partial: "shared/admin_header_index", locals: { :model => @skill_tags.first } %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="admin">
        <thead>
        <tr>
          <th>Tag</th>
          <th>Type</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @skill_tags.each do |skill_tag| %>
            <tr class="admin_tr" data-link="<%= edit_admin_skill_tag_type_path(skill_tag) %>">
              <td><%= skill_tag.tag %></td>
              <td><%= skill_tag.skill_tag_type.tagType %></td>
              <td>
                <div class="index-actions">
                  <%= link_to t(:edit), edit_admin_skill_tag_path(skill_tag), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t(:review), admin_skill_tag_path(skill_tag), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t(:delete), admin_skill_tag_path(skill_tag), method: :delete, data: { confirm: t(:are_you_sure) }, :class => 'btn btn-danger btn-xs' %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= render partial: "shared/admin_index_table_panel_footer", locals: { :entry_objects => @skill_tags } %>
    </div>
    <div class="pagination-controls"><%= will_paginate(@skill_tag_types) %></div>
  </div>
</div>