<div class="container">
  <%= devise_error_messages! %>
  <%= render partial: "shared/header", locals: { :title => 'Edit My Account' } %>

  <div class="row">
    <div class="col-md-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="field">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="field">
            <%= f.label "Password" %>
            <div class="sublabel">Leave this blank if you don't want to change your password</div>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <div class="field">
            <%= f.label :current_password %>
            <div class="sublabel">Please confirm your current password</div>
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>
          <div class="field">
            <%= f.submit "Update my account", :class => 'btn btn-success btn-lg' %>
          </div>
      <% end %>
      <h3>Delete Account</h3>
      <p>Delete you account and all associated information?</p>
      <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: t(:are_you_sure) }, method: :delete, :class => 'btn btn-danger btn-lg' %>
      <%= link_to "Cancel", :back, :class => 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>