<%= render partial: "shared/admin_form_errors", locals: { :entry_errors => @portfolio_platform.errors } %>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#general" data-toggle="tab">General</a></li>
</ul>

<%= form_for(@portfolio_platform, :url => url_for([:admin, @portfolio_platform]), :html => { :class => 'admin' }) do |f| %>
    <div class="row admin-row">
      <div class="col-md-9">
        <div class="tab-content admin-tab-content">
          <div class="tab-pane active" id="general">
            <div class="field">
              <%= f.label :title %>
              <%= f.text_field :title %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 tk-myriad-pro">
        <%= f.submit :class => 'btn btn-block btn-success btn-lg' %>
        <ul class="list-group">
          <li class="list-group-item">
            <%= f.label 'Sort Order' %>
            <%= f.number_field :sortOrder, :value => @portfolio_platform.sortOrder.blank? ? PortfolioPlatform.count + 1 : @portfolio_platform.sortOrder %>
          </li>
          <li class="list-group-item">
            <%= f.label 'Created' %>
            <%= @portfolio_platform.created_at %>
          </li>
          <li class="list-group-item">
            <%= f.label 'Last Updated' %>
            <%= @portfolio_platform.updated_at %>
          </li>
        </ul>
      </div>
    </div>
<% end %>
