<%= render partial: "shared/admin_header_index", locals: { :model => @portfolio_platforms.first } %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="admin">
        <thead>
        <tr>
          <th>Title</th>
          <th>Sort Order</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @portfolio_platforms.each do |portfolio_platform| %>
            <tr class="admin_tr" data-link="<%= edit_admin_portfolio_platform_path(portfolio_platform) %>">
              <td><%= portfolio_platform.title %></td>
              <td><%= portfolio_platform.sortOrder %></td>
              <td>
                <div class="index-actions">
                  <%= link_to t(:edit), edit_admin_portfolio_platform_path(portfolio_platform), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t(:review), admin_portfolio_platform_path(portfolio_platform), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t(:delete), admin_portfolio_platform_path(portfolio_platform), method: :delete, data: { confirm: t(:are_you_sure) }, :class => 'btn btn-danger btn-xs' %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= render partial: "shared/admin_index_table_panel_footer", locals: { :entry_objects => @portfolio_platforms } %>
    </div>
    <div class="pagination-controls"><%= will_paginate(@portfolio_platforms) %></div>
  </div>
</div>
