<%= render partial: "shared/admin_header_index", locals: { :model => @contents.first } %>
<div class="row admin-row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="admin">
        <thead>
        <tr>
          <th>ID</th>
          <th colspan="2">Title (Not used for display)</th>
        </tr>
        </thead>
        <tbody>
        <% @contents.each do |model| %>
            <tr class="admin_tr" data-link="<%= edit_admin_content_path(model) %>">
              <td><%= model.id %></td>
              <td><%= model.title %></td>
              <td>
                <div class="index-actions">
                  <%= link_to t(:edit), edit_admin_content_path(model), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t(:review), admin_content_path(model), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t(:delete), admin_content_path(model), method: :delete, data: { confirm: t(:are_you_sure) }, :class => 'btn btn-danger btn-xs' %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= render partial: "shared/admin_index_table_panel_footer", locals: { :entry_objects => @models } %>
    </div>
    <div class="pagination-controls"><%= will_paginate(@contents) %></div>
  </div>
</div>

