<%= form_for(@resume_entry, :url => url_for([:admin, @resume_entry])) do |f| %>
    <% if @resume_entry.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@resume_entry.errors.count, "error") %> prohibited this resume_entry from being saved:</h2>

          <ul>
            <% @resume_entry.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :organization %>
      <br>
      <%= f.text_field :organization %>
    </div>
    <div class="field">
      <%= f.label :timeframe %>
      <br>
      <%= f.text_field :timeframe %>
    </div>
    <div class="field">
      <%= f.label :location %>
      <br>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label 'Sort Order' %><br>
      <%= f.number_field :sortOrder %>
    </div>
    <div class="field">
      <%= f.label 'Resume Section' %>
      <br>
      <%= f.collection_select(:resume_section_id, ResumeSection.all.order(:sortOrder), :id, :title, {:prompt => true}) %>
    </div>
    <div class="field">
      <%= f.label 'Tags' %>
      <br>
      <%= collection_check_boxes(:resume_entry, :skill_tag_ids, SkillTag.all.order('LOWER(tag)'), :id, :tag) do |b|
       content_tag(:div, :class => "form_checkbox_container") { b.check_box + ' ' +  b.text }
      end %>
    </div>
    <div class="actions">
      <%= f.submit 'Update Resume Entry' %>
    </div>
<% end %>
