<%= render partial: "shared/admin_form_errors", locals: { :entry_errors => @resume_entry.errors } %>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#general" data-toggle="tab">General</a></li>
  <li><a href="#description-text" data-toggle="tab">Description</a></li>
  <li><a href="#tags" data-toggle="tab">Tags</a></li>
</ul>

<%= form_for(@resume_entry, :url => url_for([:admin, @resume_entry]), :html => { :class => 'admin' }) do |f| %>
    <div class="row admin-row">
      <div class="col-md-9 tk-myriad-pro">
        <div class="tab-content admin-tab-content">
          <div class="tab-pane active" id="general">
            <div class="field">
              <%= f.label 'Resume Section' %>
              <%= f.collection_select(:resume_section_id, ResumeSection.all.order(:sortOrder), :id, :title, { :prompt => true }) %>
            </div>
            <div class="field">
              <%= f.label :title %>
              <%= f.text_field :title %>
            </div>
            <div class="field">
              <%= f.label :organization %>
              <%= f.text_field :organization %>
            </div>
            <div class="field">
              <%= f.label 'Organization URL' %>
              <%= f.text_field :organizationURL %>
            </div>
            <div class="field">
              <%= f.label :timeframe %>
              <%= f.text_field :timeframe %>
            </div>
            <div class="field">
              <%= f.label :location %>
              <%= f.text_field :location %>
            </div>
          </div>
          <div class="tab-pane" id="description-text">
            <div class="field">
              <%= f.label 'Description' %>
              <%= render partial: "shared/admin_form_markup_field", locals: { :field_variable => f, :markup_field => :description } %>
            </div>
          </div>
          <div class="tab-pane" id="tags">
            <div class="field">
              <div class="well">
                <%= collection_check_boxes(:resume_entry, :skill_tag_ids, SkillTag.all.order('LOWER(tag)'), :id, :tag) do |b|
                   content_tag(:div, :class => "form_checkbox_container") { b.check_box + ' ' + b.text }
                end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 tk-myriad-pro">
        <%= f.submit :class => 'btn btn-block btn-success btn-lg' %>
        <ul class="list-group">
          <li class="list-group-item">
            <%= f.label 'Sort Order' %>
            <%= f.number_field :sortOrder, :value => @resume_entry.sortOrder.blank? ? ResumeEntry.count + 1 : @resume_entry.sortOrder %>
          </li>
          <li class="list-group-item">
            <%= f.label 'Created' %>
            <%= @resume_entry.created_at %>
          </li>
          <li class="list-group-item">
            <%= f.label 'Last Updated' %>
            <%= @resume_entry.updated_at %>
          </li>
        </ul>
      </div>
    </div>
<% end %>
