<%= render partial: "shared/admin_header_index", locals: { :model => @resume_entries.first } %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="admin">
        <thead>
        <tr>
          <th>Title</th>
          <th>Organization</th>
          <th>Timeframe</th>
          <th>Section</th>
          <th>Sort Order</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @resume_entries.each do |resume_entry| %>
            <tr class="admin_tr" data-link="<%= edit_admin_portfolio_entry_path(resume_entry) %>">
              <td><%= resume_entry.title %></td>
              <td><%= resume_entry.organization %></td>
              <td><%= resume_entry.timeframe %></td>
              <td>
                <% if defined? resume_entry.resume_section.title %><%= resume_entry.resume_section.title %>
                <% end %></td>
              <td><%= resume_entry.sortOrder %></td>
              <td>
                <div class="index-actions">
                  <%= link_to t(:edit), edit_admin_resume_entry_path(resume_entry), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t(:review), admin_resume_entry_path(resume_entry), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t(:delete), admin_resume_entry_path(resume_entry), method: :delete, data: { confirm: t(:are_you_sure) }, :class => 'btn btn-danger btn-xs' %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= render partial: "shared/admin_index_table_panel_footer", locals: { :entry_objects => @portfolio_entries } %>
    </div>
    <div class="pagination-controls"><%= will_paginate(@portfolio_entries) %></div>
  </div>
</div>