<%= render partial: "shared/admin_header_show", locals: { :model => @resume_entry} %>
<ul class="list-group">
  <li class="list-group-item">
    <label>Section</label>
    <div><% if defined? @resume_entry.resume_section.title %><%= @resume_entry.resume_section.title %><% end %></div>
  </li>
  <li class="list-group-item">
    <label>Title</label>
    <div><%= @resume_entry.title %></div>
  </li>
  <li class="list-group-item">
    <label>Organization</label>
    <div>
      <% if @resume_entry.organizationURL.blank? %>
          <%= @resume_entry.organization %>
      <% else %>
          <%= link_to @resume_entry.organization, @resume_entry.organizationURL, :target => '_blank' %>
      <% end %>
    </div>
  </li>
  <li class="list-group-item">
    <label>Location</label>
    <div><%= @resume_entry.location %></div>
  </li>
  <li class="list-group-item">
    <label>Description</label>
    <div><%= markdown(@resume_entry.description) %></div>
  </li>
  <li class="list-group-item">
    <label>Tags</label>
    <div><% @resume_entry_skill_tags.each do |i| %><%= i.tag %><% if i != @resume_entry_skill_tags.last %>, <% end %><% end %></div>
  </li>
  <li class="list-group-item">
    <label>Sort Order</label>
    <div><%= @resume_entry.sortOrder %></div>
  </li>
</ul>