<%= render partial: "shared/header_admin", locals: {:title => 'Listing Resume Sections'} %>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Sortorder</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @resume_sections.each do |resume_section| %>
      <tr>
        <td><%= resume_section.title %></td>
        <td><%= resume_section.sortOrder %></td>
        <td><%= link_to 'Show', admin_resume_section_path(resume_section) %></td>
        <td><%= link_to 'Edit', edit_admin_resume_section_path(resume_section) %></td>
        <td><%= link_to 'Destroy', admin_resume_section_path(resume_section), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= render partial: "shared/admin_bottom_links", locals: {:links => [{:title => 'New Resume Section', :path => new_admin_resume_section_path}] } %>