<div style="background: url(/img/jumbotronbackground.jpg) no-repeat top; width: 100%; height: 50px;"></div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "shared/header", locals: { :title => 'Resume', :subtitle => "The things I've done" } %>
      <%= markdown(Content.find_by_title('Resume').content) %>
      <hr>
    </div>
  </div>
  <% @sections.order(:sortOrder).each do |section| %>
      <div class="row">
        <div class="col-md-2">
          <p class="side-section-title"><%= section.title %></p>
        </div>
        <div class="col-md-10">
          <% section.resume_entries.order(:sortOrder).each do |entry| %>
              <div>
                <div class="resume-entry-container">
                  <div class="resume-entry-timeframe"><%= entry.timeframe %></div>
                  <span class="resume-entry-title cleanBreakBlock"><%= entry.title %>,</span>
                  <% if !entry.organizationURL.blank? %>
                      <em><a href="http://www.inventivhealth.com" target="_blank" class="resume-entry-organization cleanBreakBlock"><%= entry.organization %></a></em>
                  <% else %>
                      <span class="resume-entry-organization cleanBreakBlock"><%= entry.organization %></span>
                  <% end %>
                  <div class="resume-entry-location"><%= raw entry.location %></div>
                </div>
                <div><%= markdown(entry.description) %></div>
                <% if !entry.skill_tags.empty? %>
                    <div class="well">
                      <% entry.skill_tags.order("skill_tag_type_id ASC, tag ASC").each do |tag| %>
                          <span class="label <%= tag.skill_tag_type.tagType == ('Technology') ? 'label-success' : 'label-primary' %>"><%= tag.tag %></span>
                      <% end %>
                    </div>
                <% end %>
              </div>
              <hr>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
