<div style="background: url(/img/jumbotronbackground.jpg) no-repeat top; width: 100%; height: 50px;"></div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12 tk-myriad-pro">
      <%= render partial: "shared/header", locals: {:title => 'Resume', :subtitle => "The things I've done"} %>
      <%= markdown(Content.find_by_title('Resume').content) %>
      <hr>
    </div>
  </div>
  <% @sections.order(:sortOrder).each do |section| %>
      <div class="row">
        <div class="col-md-2">
          <p class="tk-adelle" style="font-size: 22px"><b><%= section.title %></b></p>
        </div>
        <div class="col-md-10">
          <% section.resume_entries.order(:sortOrder).each do |entry| %>
              <div>
                <h4 class="tk-myriad-pro">
                  <strong>
                    <span class="cleanBreakBlock"><%= entry.title %>,</span>
                    <% if !entry.organizationURL.blank? %>
                        <em><a href="http://www.inventivhealth.com" target="_blank" class="cleanBreakBlock"><%= entry.organization %></a></em>
                    <% else %>
                        <span class="cleanBreakBlock"><%= entry.organization %></span>
                    <% end %>
                  </strong>
                  <span class="cleanBreakBlock">&mdash; <%= entry.timeframe %></span>

                  <div>
                    <small><%= raw entry.location %></small>
                  </div>
                </h4>
                <div class="tk-myriad-pro">
                  <%= markdown(entry.description) %>
                </div>
                <% if !entry.skill_tags.empty? %>
                    <div class="well">
                      <% entry.skill_tags.order("skill_tag_type_id ASC, tag ASC").each do |tag| %>
                          <span class="label <%= tag.skill_tag_type.tagType == ('Technology') ? 'label-success' : 'label-primary' %>"><%= tag.tag %></span>
                      <% end %>
                    </div>
                <% end %>
              </div>
              <hr>
          <% end %>
        </div>
      </div>
  <% end %>
</div> <!-- /container -->
