<% if @portfolio_entry.errors.any? %>
    <%= render partial: "shared/admin_form_errors", locals: {:entry_errors => @portfolio_entry.errors} %>
<% end %>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#general" data-toggle="tab">General</a></li>
  <li><a href="#background" data-toggle="tab">Background</a></li>
  <li><a href="#tags" data-toggle="tab">Tags</a></li>
</ul>

<%= form_for(@portfolio_entry, :url => url_for([:admin, @portfolio_entry]), :html => {:class => 'admin'}) do |f| %>
    <div class="row admin-row">
      <div class="col-md-9">
        <div class="tab-content admin-tab-content">
          <div class="tab-pane active" id="general">
            <div class="field">
              <%= f.label 'Title' %>
              <%= f.text_field :title %>
            </div>
            <div class="field">
              <%= f.label 'Platform' %>
              <%= f.collection_select(:portfolio_platform_id, PortfolioPlatform.all.order(:sortOrder), :id, :title, { :prompt => true }) %>
            </div>
            <div class="field">
              <%= f.label 'Role' %>
              <%= f.text_field :role %>
            </div>
            <div class="field">
              <%= f.label 'Overview' %>
              <%= render partial: "shared/admin_form_markup_field", locals: { :field_variable => f, :markup_field => :overview } %>
            </div>
          </div>
          <div class="tab-pane" id="background">
            <div class="field">
              <%= f.label 'Background Image' %>
              <%= image_tag @portfolio_entry.project_image.url(:original), :style => 'width: 100%' %>
              <div class="well">
                <% if @portfolio_entry.project_image.exists? %>
                    <%= f.check_box(:project_image_delete) %> Delete?
                <% else %>
                    <%= f.file_field :project_image %>
                <% end %>
              </div>
            </div>
            <div class="field">
              <%= f.label 'Background Color' %>
              <%= f.text_field :backgroundColor %>
            </div>
          </div>
          <div class="tab-pane" id="tags">
            <div class="well">
              <%= collection_check_boxes(:portfolio_entry, :skill_tag_ids, SkillTag.all.order('LOWER(tag)'), :id, :tag) do |b|
                 content_tag(:div, :class => "form_checkbox_container") { b.check_box + ' ' + b.text }
              end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <%= f.submit :class => 'btn btn-block btn-success btn-lg' %>
        <ul class="list-group">
          <li class="list-group-item">
            <%= f.label 'Sort Order' %>
            <%= f.number_field :sortOrder, :value => @portfolio_entry.sortOrder.blank? ? PortfolioEntry.count + 1 : @portfolio_entry.sortOrder %>
          </li>
          <li class="list-group-item">
            <%= f.label 'Created' %>
            <%= @portfolio_entry.created_at %>
          </li>
          <li class="list-group-item">
            <%= f.label 'Last Updated' %>
            <%= @portfolio_entry.updated_at %>
          </li>
        </ul>
      </div>
    </div>
<% end %>
