<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#general" data-toggle="tab">General</a></li>
  <li><a href="#background" data-toggle="tab">Image</a></li>
  <li><a href="#tags" data-toggle="tab">Tags</a></li>
</ul>

<%= form_for(@portfolio_entry, :url => url_for([:admin, @portfolio_entry])) do |f| %>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-9">
        <% if @portfolio_entry.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@portfolio_entry.errors.count, "error") %> prohibited this portfolio_entry from being
                saved:</h2>

              <ul>
                <% @portfolio_entry.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="tab-content" style="padding-top: 20px;">
          <div class="tab-pane active" id="general">
            <div style="padding-bottom: 8px;">
              <div style="font-weight: bold; color: #666">Title</div>
              <div><%= f.text_field :title %></div>
            </div>
            <div style="padding-bottom: 8px;">
              <div style="font-weight: bold; color: #666">Platform</div>
              <div><%= f.collection_select(:portfolio_platform_id, PortfolioPlatform.all.order(:sortOrder), :id, :title, { :prompt => true }) %></div>
            </div>
            <div style="padding-bottom: 8px;">
              <div style="font-weight: bold; color: #666">Role</div>
              <div><%= f.text_field :role %></div>
            </div>
            <div style="padding-bottom: 8px;">
              <div style="font-weight: bold; color: #666">Overview</div>
              <div><%= f.text_area :overview %></div>
            </div>
            <div style="padding-bottom: 8px;">
              <div style="font-weight: bold; color: #666">Sort Order</div>
              <div><%= f.number_field :sortOrder %></div>
            </div>
          </div>
          <div class="tab-pane" id="background">
            <div style="padding-bottom: 8px;">
              <div style="font-weight: bold; color: #666">Background Image</div>
              <div>
                <%= image_tag @portfolio_entry.project_image.url(:original), :style => 'width: 100%' %>
                <br/>
                <% if @portfolio_entry.project_image.exists? %>
                    <%= f.check_box(:project_image_delete) %> Delete?
                <% else %>
                    <%= f.file_field :project_image %>
                <% end %>
              </div>
            </div>
            <div style="padding-bottom: 8px;">
              <div style="font-weight: bold; color: #666">Background Color</div>
              <div><%= f.text_field :backgroundColor %></div>
            </div>
          </div>
          <div class="tab-pane" id="tags">
              <div class="well">
                <%= collection_check_boxes(:portfolio_entry, :skill_tag_ids, SkillTag.all.order('LOWER(tag)'), :id, :tag) do |b|
                  content_tag(:div, :class => "form_checkbox_container") { b.check_box + ' ' + b.text }
                end %>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <%= f.submit :class => 'btn btn-block btn-primary btn-lg' %>
      </div>
    </div>
<% end %>
