<%= render partial: "shared/admin_header", locals: { :title => admin_title_listing(controller),
                                                     :links => [{ :title => admin_label_new_entry(controller), :path => new_admin_portfolio_entry_path }] } %>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-3 tk-myriad-pro">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filters</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-md-9 tk-myriad-pro">
    <div class="panel panel-default">
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th>Platform</th>
          <th>Role</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @portfolio_entries.joins(:portfolio_platform).order('"portfolio_platforms"."sortOrder" ASC, "portfolio_entries"."sortOrder" ASC').order(:sortOrder).each do |portfolio_entry| %>
            <tr class="admin_tr" data-link="<%= edit_admin_portfolio_entry_path(portfolio_entry) %>">
              <td><%= portfolio_entry.title %></td>
              <td>
                <% if defined? portfolio_entry.portfolio_platform.title %><%= portfolio_entry.portfolio_platform.title %>
                <% end %></td>
              <td><%= portfolio_entry.role %></td>
              <td>
                <div style="float: right">
                  <%= link_to t(:edit), edit_admin_portfolio_entry_path(portfolio_entry), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t(:review), admin_portfolio_entry_path(portfolio_entry), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t(:delete), admin_portfolio_entry_path(portfolio_entry), method: :delete, data: { confirm: t(:are_you_sure) }, :class => 'btn btn-danger btn-xs' %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
