<%= render partial: "shared/admin_header_index", locals: { :model => @portfolio_entries.first } %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="admin">
        <thead>
        <tr>
          <th>Title</th>
          <th>Platform</th>
          <th>Role</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @portfolio_entries.joins(:portfolio_platform).order('"portfolio_platforms"."sortOrder" ASC, "portfolio_entries"."sortOrder" ASC').order(:sortOrder).each do |portfolio_entry| %>
            <tr class="admin_tr" data-link="<%= edit_admin_portfolio_entry_path(portfolio_entry) %>">
              <td><%= portfolio_entry.title %></td>
              <td>
                <% if defined? portfolio_entry.portfolio_platform.title %><%= portfolio_entry.portfolio_platform.title %>
                <% end %></td>
              <td><%= portfolio_entry.role %></td>
              <td>
                <div class="index-actions">
                  <%= link_to t(:edit), edit_admin_portfolio_entry_path(portfolio_entry), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t(:review), admin_portfolio_entry_path(portfolio_entry), :class => 'btn btn-primary btn-xs' %>
                  <%= link_to t(:delete), admin_portfolio_entry_path(portfolio_entry), method: :delete, data: { confirm: t(:are_you_sure) }, :class => 'btn btn-danger btn-xs' %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= render partial: "shared/admin_index_table_panel_footer", locals: { :entry_objects => @portfolio_entries } %>
    </div>
    <div class="pagination-controls"><%= will_paginate(@portfolio_entries) %></div>
  </div>
</div>
