<%= render partial: "shared/admin_header", locals: {:title => 'Preview', :links => [{:title => 'Edit', :path => edit_admin_portfolio_entry_path(@portfolio_entry)},
                                                                                    {:title => 'Back', :path => admin_portfolio_entries_path} } %>
<p>
  <strong>Platform:</strong>
  <% if defined? @portfolio_entry.portfolio_platform.title %><%= @portfolio_entry.portfolio_platform.title %><% end %>
</p>
<p>
  <strong>Title:</strong>
  <%= @portfolio_entry.title %>
</p>
<p>
  <strong><%= image_tag @portfolio_entry.project_image.url(:original), :style => 'width: 100%' %></strong>
</p>
<div class="field">
  <strong>Background Color:</strong>
  <div style="width: 25px; height:25px; margin-bottom: 10px; background-color: <%= @portfolio_entry.backgroundColor %>"></div>
</div>
<p>
  <strong>Role:</strong>
  <%= @portfolio_entry.role %>
</p>
<p>
  <strong>Overview:</strong>
  <%= markdown(@portfolio_entry.overview) %>
</p>
<p>
  <strong>Sort Order:</strong>
  <%= @portfolio_entry.sortOrder %>
</p>
<p>
  <strong>Tags:</strong><br/>
  <% @portfolio_entry_skill_tags.each do |i| %>
      <%= i.tag %>
      <% if i != @portfolio_entry_skill_tags.last %>,
      <% end %>
  <% end %>
</p>
