<%= render partial: "shared/admin_header_show", locals: { :model => @portfolio_entry} %>
<ul class="list-group">
  <li class="list-group-item">
    <label>Platform</label>
    <div><% if defined? @portfolio_entry.portfolio_platform.title %><%= @portfolio_entry.portfolio_platform.title %><% end %></div>
  </li>
  <li class="list-group-item">
    <label>Title</label>
    <div><%= @portfolio_entry.title %></div>
  </li>
  <li class="list-group-item">
    <label>Background Image</label>
    <div><%= image_tag @portfolio_entry.project_image.url(:original), :style => 'width: 100%' %></div>
  </li>
  <li class="list-group-item">
    <label>Background Color</label>
    <div><div style="width: 25px; height:25px; margin-bottom: 10px; background-color: <%= @portfolio_entry.backgroundColor %>"></div></div>
  </li>
  <li class="list-group-item">
    <label>Role</label>
    <div><%= @portfolio_entry.role %></div>
  </li>
  <li class="list-group-item">
    <label>Overview</label>
    <div><%= markdown(@portfolio_entry.overview) %></div>
  </li>
  <li class="list-group-item">
    <label>Sort Order</label>
    <div><%= @portfolio_entry.sortOrder %></div>
  </li>
  <li class="list-group-item">
    <label>Tags</label>
    <div><% @portfolio_entry_skill_tags.each do |i| %><%= i.tag %><% if i != @portfolio_entry_skill_tags.last %>, <% end %><% end %></div>
  </li>
</ul>