<div style="background: url(/img/jumbotronbackground.jpg) no-repeat top; width: 100%; height: 50px;"></div>

<div class="container" style="margin-bottom: 40px;">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12 tk-myriad-pro">
      <%= render partial: "shared/header", locals: { :title => 'Portfolio', :subtitle => 'The things I\'ve made' } %>
      <div class="main-content"><%= markdown(Content.find_by_title('Portfolio').content) %></div>
      <hr>
    </div>
  </div>
  <div style="padding-bottom: 60px;">
    <% @platforms.order(:sortOrder).each do |platform| %>
        <div class="row">
          <div class="col-md-3">
            <p class="side-section-title"><%= platform.title %></p>
          </div>
          <div class="col-md-9">
            <div class="row">
              <% platform.portfolio_entries.order(:sortOrder).each_with_index do |entry, i| %>
                  <% if i % 3 == 0 && i > 0 %></div>
                  <div class="row">
                  <% end %>
                  <div class="col-md-4" style="margin: 0; padding: 0;">
                    <div class="thumbnail">
                      <a href="#project<%= i %><%= u platform.title %>" id="thumb<%= i %><%= u platform.title %>" class="anchor-link"><%= image_tag entry.project_image.url(:thumb) %></a>
                      <div class="portfolio-title-link"><%= entry.title %></div>
                    </div>
                  </div>
              <% end %>
              </div>
            </div>
        </div>
    <% end %>
  </div>
  <% @platforms.order(:sortOrder).each do |platform| %>
      <% platform.portfolio_entries.order(:sortOrder).each_with_index do |entry, i| %>
          <div style="background-color: <%= entry.backgroundColor %>; border-bottom: 4px solid #ffffff">
            <div class="row">
              <div class="col-md-12" id="project<%= i %><%= u platform.title %>">
                <div class="portfolio-project-detail" style="background-image: url(<%= entry.project_image.url(:original) %>>)">
                  <div style="position: relative; top: 20px; left: 40px; width: 60%; padding-bottom: 60px;">
                    <h3 class="tk-adelle" style="font-weight:bold;"><%= entry.title %></h3>
                    <h4 class="tk-myriad-pro"><%= entry.role %></h4>
                    <div class="tk-myriad-pro" style="margin: 25px 0 25px 0"><%= markdown(entry.overview) %></div>
                    <% if !entry.skill_tags.empty? %>
                        <div style="margin: 20px 0 25px 0"><% entry.skill_tags.order("skill_tag_type_id ASC, tag ASC").each do |tag| %><span class="label <%= tag.skill_tag_type.tagType == ('Technology') ? 'label-success' : 'label-primary' %>"><%= tag.tag %></span><% end %></div>
                    <% end %>
                    <div style="opacity:0.3"><a class="btn btn-default anchor-link" style="color: #666;" href="#thumb<%= i %><%= u platform.title %>"><span class="glyphicon glyphicon-chevron-up"></span></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>

</div> <!-- /container -->