<div style="background: url(/img/jumbotronbackground.jpg) no-repeat top; width: 100%; height: 50px;"></div>

<div class="container" style="margin-bottom: 40px;">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12 tk-myriad-pro">
      <%= render partial: "shared/header", locals: {:title => 'Portfolio', :subtitle => 'Things I\'ve made'} %>
      <p>Given the nature of the industry that I currently work in, I am not able to publicly display the work I have
        completed. I do have a number of enterprise-distirbuted iOS apps that I have programmed along with a universal
        iPhone/iPad app in the Apple App Store.</p>

      <p>One step removed from interpretive shadow puppets, what follows are the descriptions of some of my
        projects.</p>
      <hr>
    </div>
  </div>
  <% @platforms.order(:sortOrder).each do |platform| %>
      <div class="row">
        <div class="col-md-2">
          <p class="tk-adelle" style="font-size: 22px"><b><%= platform.title %></b></p>
        </div>
        <div class="col-md-10">
          <div class="row">
            <% platform.portfolio_entries.order(:sortOrder).each_with_index do |entry, i| %>
                <% if i % 3 == 0 && i > 0 %></div>
                    <div class="row">
                <% end %>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="#project<%= i %><%= platform.title %>" name="thumb<%= i %><%= platform.title %>" class=""><%= image_tag entry.project_image.url(:thumb) %></a>

                    <div class="tk-adelle" style="text-shadow: 1px 1px 2px rgba(0, 0, 0, .7); margin: 0 auto; width: 310px; padding-left: 10px; font-weight:bold; color: #fff; margin-top: -30px;"><%= entry.title %></div>
                  </div>
                </div>
            <% end %>
            </div>
            </div>
      </div>
  <% end %>
  <br/>
  <% @platforms.order(:sortOrder).each do |platform| %>
      <% platform.portfolio_entries.order(:sortOrder).each_with_index do |entry, i| %>
          <div style="background-color: <%= entry.backgroundColor %>;">
            <div class="row">
              <div class="col-md-12" name="project<%= i %><%= platform.title %>">
                <div style="position: relative; width:100%; overflow: hidden; background-position: top center; background-repeat: no-repeat; background-image: url(<%= entry.project_image.url(:original) %>>)">
                  <div style="position: relative; top: 20px; left: 40px; width: 60%; color: #fff; padding-bottom: 60px; text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);">
                    <h3 class="tk-adelle" style="font-weight:bold;"><%= entry.title %></h3>
                    <h5 class="tk-adelle" style="font-weight:bold;">ROLE</h5>

                    <p class="tk-myriad-pro"><%= entry.role %></p>
                    <h5 class="tk-adelle" style="font-weight:bold;">OVERVIEW</h5>

                    <span class="tk-myriad-pro"><%= markdown(entry.overview) %></span>

                    <div style="margin-top: 20px"><a class="btn btn-default btn-xs" style="color: #666" href="#thumb<%= i %><%= platform.title %>">Back to top</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>

</div> <!-- /container -->