<div style="background: url(/img/jumbotronbackground.jpg) no-repeat top; width: 100%; height: 50px;"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "shared/header", locals: { :title => 'Blog', :subtitle => "The things I'm thinking, professionally" } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <% @entries.each do |entry| %>
          <div class="blog-entry-container" data-link="/blog/<%= entry.id %>">
            <div class="blog-index-title"><%= entry.title %></div>
            <div class="blog-index-excerpt"><%= entry.excerpt %></div>
            <div class="blog-index-publish-date"><%= entry.publish_at.to_s(:blog_post) %></div>
            <%= link_to raw('Read More <span class="glyphicon glyphicon-chevron-right" style="font-size: 12px"></span>'), {:controller => 'blog', :action => 'show', :id => entry}, :class => 'btn btn-default ' %>
          </div>
      <% end %>
      <div><%= will_paginate(@entries) %></div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
