<div style="background: url(/img/jumbotronbackground.jpg) no-repeat top; width: 100%; height: 50px;"></div>

<div class="container">
  <div class="row">
    <div class="col-md-3" style="margin-top: 40px">
      <%= link_to raw('<span class="glyphicon glyphicon-chevron-left" style="font-size: 12px"></span> Back to Blog Entries'), blog_path, :class => 'btn btn-default' %>
    </div>
    <div class="col-md-9">
      <div class="blog-title"><%= @entry.title %></div>
      <div class="blog-excerpt"><%= @entry.excerpt %></div>
      <hr>
      <div class="blog-publish-date">
        <span class="blog-by-line">By PAUL BONNEVILLE &mdash; </span><strong><%= @entry.publish_at.to_s(:blog_post) %></strong>
      </div>
      <div class="blog-entry-container">
        <%= markdown(@entry.body) %>
      </div>
    </div>
  </div>
</div>