<div style="background: url(/img/jumbotronbackground.jpg) no-repeat top; width: 100%; height: 50px;"></div>

<div class="container" style="margin-bottom: 40px;">
  <div class="row">
    <div class="col-md-12 tk-myriad-pro">
      <%= render partial: "shared/header", locals: {:title => 'Contact', :subtitle => 'Get in touch'} %>
      <%= markdown(Content.find_by_title('Contact').content) %>
      <hr>
    </div>
  </div>

  <%= form_for @contact, :url => contact_path do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, :required => true %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, :required => true %>
      </div>
      <div class="field">
        <%= f.label :message %>
        <%= f.text_area :message, :required => true %>
      </div>
      <div class= "hidden">
        <%= f.text_field :nickname %>
      </div>
      <div class="actions">
        <%= f.submit 'Send message', :class => 'btn btn-primary' %>
      </div>
  <% end %>
</div>
