<div class="alert alert-success" style="margin-top: 20px"><%= notice %></div>

<p>
  <strong>Tag:</strong>
  <%= @skill_tag.tag %>
</p>

<p>
  <strong>Tag Type:</strong>
  <%= @skill_tag.skill_tag_type.tagType %>
</p>

<%= link_to 'Edit', edit_skill_tag_path(@skill_tag) %> |
<%= link_to 'Back', skill_tags_path %>