<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>ADMIN</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]>
  <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="//use.typekit.net/owz0dax.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body onload="set_up_timer();">

<div id="inactivity_warning" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Session Ending</h4>
      </div>
      <div class="modal-body">
        <p>Your session will be ending in 5 minutes due to inactivity. Please be sure to save your work before proceeding.</p>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-primary inactivity_ok" data-dismiss="modal" aria-hidden="true">OK</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal hide fade" data-backdrop="static" style="top:30%">
  <div class="modal-header">
    <button type="button" class="close inactivity_ok" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div id="custom_alert_message" class="span12">
        You will be logged out in 5 minutes due to inactivity on the server. Please save your credit application if you have not already done so.
      </div>
    </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" class="btn btn-primary inactivity_ok" data-dismiss="modal" aria-hidden="true">OK</a>
    </div>
  </div>
</div>

<%= render partial: "shared/admin_navbar" %>
<%= render partial: 'shared/alerts_and_notices' %>

<div class="container container_padding_top">
  <%= yield %>
</div>

<input id="user_activity" name="user_activity" type="hidden" value="active" />
<input id="user_loged_in" name="user_loged_in" type="hidden" value="true" />

</body>
</html>
